
.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px;
}

.flexbox-chart-item {
    min-width: 500px;
    width: 500px;
}


.chat {
    background-color: white;
    border: 1px solid black;
    min-width: 600px;
    width: 600px;
    min-height: 200px;
    height: 200px;
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chat::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.chat-message {
    margin: 5px;
}

.chat-message-input {
    min-width: 88%;
}