
<!DOCTYPE html>
<html>
    <head>
        <title>HelloCrypto</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../img/logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/data_screenstyle.css">
        <link rel="stylesheet" href="../css/screenstyle.css">
    </head>
    <body>

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:20px">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" width="30" height="30" style="display:inline">
                HelloCrypto
            </a>
        </nav>

        <div class="flexbox" id="messages-container">
            <div id="data-loading-spinner">
                Loading...
            </div>
        </div>

        <div class="flexbox">
            <div class="flexbox-item">
                <canvas id="btc-chart"></canvas>
            </div>
            <div class="flexbox-item">
                <canvas id="eth-chart"></canvas>
            </div>
            <div class="flexbox-item">
                <canvas id="ltc-chart"></canvas>
            </div>
            <div class="flexbox-item">
                <canvas id="bch-chart"></canvas>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../js/data.js"></script>
        <script src="../js/navigation.js"></script>
    </body>
</html>