<!DOCTYPE html>
<html>
    <head>
        <title>HelloCrypto</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="../img/logo.png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/home_screenstyle.css">
        <link rel="stylesheet" href="../css/screenstyle.css">
    </head>
    <body>

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:20px">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" width="30" height="30" style="display:inline">
                HelloCrypto
            </a>
        </nav>

        <main role="main">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Welcome to HelloCrypto!</h1>
                    <p class="lead text-muted">See recent prices of various cryptocurrencies.</p>
                    <p>
                        <button type="button" class="btn btn-primary" onclick="navToData()">
                            Check out the data!
                        </button>
                    </p>
                </div>
            </section>
        </main>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="js/home.js"></script>
        <script src="js/navigation.js"></script>
    </body>
</html>